In [1]:
import math

def area_circle(r):
    return math.pi * r * r

r = float(input("Enter radius: "))
if r < 0:
    print("Invalid radius!")
else:
    print(f"Area of circle with radius {r} is {area_circle(r):.5f}")

Enter radius:  5

Area of circle with radius 5.0 is 78.53982

In [3]:
def count_vowels(s):
    count = 0
    vowels = "aeiouAEIOU"
    for ch in s:
        if ch in vowels:
            count += 1
    return count

def main():
    text = input("Enter a string: ")
    num = count_vowels(text)
    print(f"Number of vowels in \"{text}\" is {num}")

if __name__ == "__main__":
    main()

Enter a string:  hyderabad

Number of vowels in "hyderabad" is 3

In [4]:
def count_vowels(s):
    count = 0
    vowels = "aeiouAEIOU"
    for ch in s:
        if ch not in vowels:
            count += 1
    return count

def main():
    text = input("Enter a string: ")
    num = count_vowels(text)
    print(f"Number of consonants in \"{text}\" is {num}")

if __name__ == "__main__":
    main()

Enter a string:  chathurya

Number of consonants in "chathurya" is 6

In [5]:
def modify_list(n):
    result = []
    for i in n:
        if i % 5 == 0:
            result.append(i - 5)
        else:
            result.append(i)
    return result

n = [30, 42, 56, 70, 45, 35]
l = modify_list(n)
print(l)

[25, 42, 56, 65, 40, 30]

In [6]:
def split_by_index(lst):
    even_index = []
    odd_index = []
    for i in range(len(lst)):
        if i % 2 == 0:
            even_index.append(lst[i])
        else:
            odd_index.append(lst[i])
    return odd_index, even_index

l = list(map(int, input("Enter numbers separated by commas: ").split(",")))

m, n = split_by_index(l)
print("Odd indices:", m)
print("Even indices:", n)

Enter numbers separated by commas:  23,55,69,58,47,55,12,30

Odd indices: [55, 58, 55, 30]
Even indices: [23, 69, 47, 12]

In [9]:
def separate_and_sum(numbers):
    even_list = []
    odd_list = []
    even_sum = 0
    odd_sum = 0
    for num in numbers:
        if num % 2 == 0:
            even_list.append(num)
            even_sum += num
        else:
            odd_list.append(num)
            odd_sum += num            
    return even_list, even_sum, odd_list, odd_sum
numbers = [20, 35, 45, 30, 60, 75, 85, 45, 25, 40]
even_list, even_sum, odd_list, odd_sum = separate_and_sum(numbers)
print("Even numbers:", even_list, "Sum:", even_sum)
print("Odd numbers:", odd_list, "Sum:", odd_sum)

Even numbers: [20, 30, 60, 40] Sum: 150
Odd numbers: [35, 45, 75, 85, 45, 25] Sum: 310

In [10]:
def group_by_first_letter(words):
    groups = {}
    for word in words:
        first = word[0].lower() 
        if first not in groups:
            groups[first] = []
        groups[first].append(word)
    return groups



n = ["Mumbai", "Hyderabad", "Delhi", "Dubai", "Jaipur", "Kolkata",
     "Chennai", "Dabar", "Daddy", "Lucky", "Jugu", "Hema"]

result = group_by_first_letter(n)


for group in result.values():
    print(group)

['Mumbai']
['Hyderabad', 'Hema']
['Delhi', 'Dubai', 'Dabar', 'Daddy']
['Jaipur', 'Jugu']
['Kolkata']
['Chennai']
['Lucky']

In [1]:
s = {'mumbai':50, 'hyderadad':40, 'delhi':30, 'dubai':20, 'jaipur':100, 'chennai':280, 'dadar':200}
def city_le(s):
    l = []
    for city in s:
        if s[city] < 200:
            l.append(city)
    return l

print(city_le(s))

['mumbai', 'hyderadad', 'delhi', 'dubai', 'jaipur']